[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/armadillu/projectGenerator.git
[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
